body {
    width: 70%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
}

.platsContainer {
    background-color: GAINSBORO;
    border: 5px solid blue;
    flex-wrap: wrap;
    margin: 20px;
}